/*header{
    position: relative;
    padding-top: 20px;
    padding-left: 20px;
    background-color:white;
    justify-content: space-between;
    
}

.h{
    display: flex;
    
}
.inn{
    flex:1;
}
.navbar{
    flex:4;
    margin-top: 25px;
    
}
a.active{
    color:red;
}
.navbar a{
    padding:10px;
    font-size: 22px;
    cursor:pointer;
    text-decoration: none;
    color: black;
}

header .navbar a:hover{
    color:red;
}*/
header img{
    margin-left: 80px;
    width:70%;
}

.nav-container {
    overflow:hidden;
    background-color: #ffff;
}
.navbar{
    display: flex;
}
.topnav{
    margin-left: 10%;
}
.topnav a{
    float:left;
    color: black;
    text-align: end;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 22px;
}
a:hover{
    color: red;
}
a.active{
    color: red;
}
.image{
    position: relative;
    text-align: center;
}

