

*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.both {
    position: relative;
    text-align: center;
  }
  
  .text {
    position: absolute;
    bottom: 400px;
    left: 80px;
  }

  .text h1{
    font-size: 70px;
  }
  .b {
    background-color: rgb(103, 235, 193); 
    color: black; 
    border: solid white;
    border-radius: 10%;
    text-align: center;
    padding:20px;
    font-size: 18px;
    cursor: pointer;
  }
  
  .b:hover {
    background-color: rgb(35, 142, 130);
    color: white;
  }

.form{
    background-color: white;
    padding: 10px;
    position: absolute;
    bottom: 1px;
    left: 200px;
    border-radius:8px;
}

.sec1 , .sec2{
    display: flex;

}
.sec1a , .sec1b, .sec1c, .sec2a, .sec2b, #sec2c{
    flex:1;
    padding:10px;
    padding-left:80px;
    padding-right:80px;
    margin-right:20px;
    margin-left:20px;
    margin-bottom:20px;
}

/*

.home img{
    border-radius:40%;
}
.home p{
    font-style: italic;
    color:black ;
    text-shadow: 2px 2px 5px white;
}
.home{
    display:flex;
}
.home img{
    padding:120px;
}
.home1{
    flex:1;
    padding-right: 10px;
}
.home2{
    flex:2;
    padding: 10px;
    margin-left:20px;
}
header h2{
    color: black;
    font-size: 30px;
}
.home2 p{
    font-size:18px;
    text-align: center;
}
footer{
    text-align: center;
    background-color: black;
    color: white;
}

footer p{
    color:orange;
}  
footer a{
    color:white;
} 
footer a:hover{
    color:gray;
}  
.fa {
  padding: 10px;
  font-size: 20px;
  width: 20px;
  float: right;
  margin-left: 5px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #a41c99;
  color: white;
}
.skill{
    background-image: url('https://cdn-icons-png.flaticon.com/128/9666/9666850.png');
    background-repeat: no-repeat;
    background-position: right;
    background-size: 250px 250px;
    margin-right:80px;
    padding:100px;
    font-size: larger;

}
.pro{
    display:flex;
}
.pro .inner{
    flex:1;
    font-size: 15px;
    text-align: left;
}
.pro .imgpro{
    flex:2;
    float:right;
}
.ut{
    display:flex;
}
.ab{
    flex:1;
    font-size: 20px;
    text-align: left;
    text-decoration: solid;
    font-style: italic;
}
.ab img{
    flex:2;
    float:right;
}
table,th,td{
    border:2px solid rgb(252, 144, 98);
    align-items: center;
    border-radius: 20px;
}
table{
    text-align: center;
    border:3px solid rgb(252, 144, 98);
}
tr:nth-child(even) {
    background-color: #ffb387;
    border-radius: 20px;
  }
#star{
    padding-right: 10px;
}