header{
    position: relative;
    padding-top: 20px;
    padding-left: 20px;
    background-color:white;
    justify-content: space-between;
    
}
header img{
    margin-left: 80px;
    width:70%;
}
.h{
    display: flex;
    
}
.inn{
    flex:1;
}
.navbar{
    flex:4;
    margin-top: 25px;
    
}
header .navbar a{
    color:black;
    padding:10px;
    font-size: 22px;
    cursor:pointer;
    text-decoration: none;
}

header .navbar a:hover{
    color:red;
}
header .navbar a.active{
    color:red;
}
